/* // `xs` returns only a ruleset and no media query */

@media (min-width: 320px) and (max-width: 575.98px) {
    .navbar-brand {
        padding: 30px 0px 30px;
    }
    .carousel-caption {
        bottom: 0%;
    }
    .carousel-caption h2 {
        padding-bottom: 10px;
        font-size: 16px;
    }
    .carousel-caption p {
        font-size: 10px;
        padding-bottom: 10px;
    }
    .carousel-caption a {
        padding: 1px 20px;
        font-size: 10px;
    }
}
/* // `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .carousel-caption {
        bottom: 25%;
    }
    .carousel-caption h2 {
        padding-bottom: 10px;
        font-size: 16px;
    }
    .carousel-caption p {
        font-size: 10px;
        padding-bottom: 10px;
    }
    .carousel-caption a {
        padding: 1px 20px;
        font-size: 10px;
    }
}

/* // `md` applies to small devices (landscape phones, less than 768px) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .carousel-caption {
        bottom: 45%;
    }
    .carousel-caption h2 {
        font-size: 20px;
    }
    .carousel-caption p {
        font-size: 14px;
    }
    .carousel-caption a {
        padding: 7px 20px;
        font-size: 12px;
    }
}

/* // `lg` applies to medium devices (tablets, less than 992px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .carousel-caption {
        bottom: 25%;
    }
    .carousel-caption h2 {
        padding-bottom: 30px;
        font-size: 30px;
    }
    .carousel-caption p {
        font-size: 20px;
        padding-bottom: 30px;
    }
    .carousel-caption a {
        padding: 10px 25px;
        font-size: 14px;
    }
}

/* // `xl` applies to large devices (desktops, less than 1200px) */
@media (min-width: 1200px) and (max-width: 1399.98px){
    .carousel-caption h2 {
        padding-bottom: 30px;
        font-size: 36px;
    }
    .carousel-caption p {
        font-size: 18px;
        padding-bottom: 30px;
    }
}

/* // `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {

}